---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARKSKY_SECRET_KEY>/39.7392358,-104.990251,1677510000?exclude=minutely,alerts,flags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 830ms
      X-Forecast-Api-Calls:
      - '60'
      X-Response-Time:
      - 48.294ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1677510000,"summary":"Partly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0048,"precipIntensityError":0.049,"precipProbability":0.07,"precipProbabilityError":0.28,"precipType":"snow","temperature":33.26,"temperatureError":11.96,"apparentTemperature":26.42,"dewPoint":17.91,"dewPointError":8.54,"humidity":0.53,"pressure":1016.61,"pressureError":8.28,"windSpeed":7.93,"windSpeedError":5.61,"windBearing":124,"windBearingError":35,"cloudCover":0.49,"cloudCoverError":0.37,"uvIndex":0},"hourly":{"summary":"Mostly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1677481200,"summary":"Partly
        Cloudy","icon":"partly-cloudy-night","precipIntensity":0.0045,"precipIntensityError":0.049,"precipProbability":0.08,"precipProbabilityError":0.28,"precipType":"snow","temperature":31.23,"temperatureError":11.97,"apparentTemperature":23.59,"dewPoint":18.17,"dewPointError":8.54,"humidity":0.58,"pressure":1015.22,"pressureError":8.28,"windSpeed":8.53,"windSpeedError":5.61,"windBearing":149,"windBearingError":33,"cloudCover":0.43,"cloudCoverError":0.37,"[...]
